In [2]:
import pandas as pd

# Load the dataset
df = pd.read_csv('/Users/bhaskaradhikari/freelance/data/external/active_users_df')

In [3]:
df

     Event Date  User Pseudo ID  Is Active User
0      20240123    1.803115e+09            True
1      20240123    1.370019e+09            True
2      20240123    2.091432e+09            True
3      20240123    1.821760e+09            True
4      20240123    1.665243e+09            True
..          ...             ...             ...
995    20240123    8.756038e+08            True
996    20240123    8.756038e+08            True
997    20240123    8.756038e+08            True
998    20240123    8.756038e+08            True
999    20240123    8.756038e+08            True

[1000 rows x 3 columns]

In [6]:
total_active_users = df['Is Active User'].sum()
total_active_users

948